:root{
    --blue: rgb(20, 202, 244);
}
body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
}
.main-div {
    padding-right: 10%;
    padding-left: 10%;
}
button a{
    text-decoration: none;
    transition: 1s;
    color:inherit;
}
.animate__fadeIn{
    animation-duration: 1.5s;
}
#contact a{
    color :var(--blue);
    border-bottom: 1px solid var(--blue);
    padding-bottom: 5px;
}

.contact-head {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-head-text {
    width: 50%;
}

.contact-head-text h1 {
    width: 60%;
    font-size: 60px;
    line-height: 60px;
    font-weight: 600;
    letter-spacing: 0;
}

.contact-head-img {
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 5rem;
    width: 80%;
    height: auto;
}

.contact-head-info {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: space-between;
}

.contact-head-info p {
    color: #7f7f7f;
    width: 30rem;
    margin-bottom: 1rem;
}

.contact-head-info h6 {
    color: #7f7f7f;
    font-size: 12px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    margin-top: 0;
}

.contact-head-info h4 {
    color: #045ba8;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 0;
}

/************/
/* INFO SEC */
/************/
.contact-info {
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: url("../img/info-bg.png");
    background-size: cover;
    background-repeat: repeat;
    background-position: center top;
}

.contact-info-content {
    display: flex;
    flex-direction: column;
    /* next line should back*/
    align-items: center;

}

.contact-info-head {
    margin-right: 20rem;
    margin-bottom: 1rem;
}

.contact-info-content h2 {
    text-align: left;
    font-size: 3.1rem;
    line-height: 3.1rem;
    font-weight: 600;
    letter-spacing: 0;
    width: 40rem;
    float: left;
}

.contact-info-items {
    width: 15rem;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.contact-info-ways {
    display: flex;
    flex-direction: row;
    /* next line is test*/
    /*margin: auto;*/
}

.contact-info-ways h4 {
    font-size: 1.5rem;
    line-height: 2.12rem;
    font-weight: 600;
    letter-spacing: 0;
}

.contact-info-ways h5 {
    font-size: 1.06rem;
    line-height: 1.68rem;
    font-weight: 300;
    letter-spacing: 0;
    margin-bottom: 0;
}

.contact-info-ways p {
    color: #7f7f7f;
}

.contact-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    margin-top: 2rem;
}

.contact-form-head h5 {
    margin: 5px 0 0 5px;
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 300;
    letter-spacing: 0;
}

.contact-form-head h2 {
    font-size: 3.1rem;
    line-height: 3.1rem;
    font-weight: 600;
    letter-spacing: 0;
}

.contact-form-head h3 {
    font-size: 2.1rem;
    line-height: 2.8rem;
    font-weight: 600;
    letter-spacing: 0;
    width: 40rem;
}

.contact-form-div {
    background-image: url("../img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.contact-form input {
    margin-bottom: 1.1rem;
    color: #808080;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0 0 1px 0;
    border-color: #045ba8;
    padding: .9rem;
    outline: none;
}

.contact-form textarea {
    margin-bottom: 1.1rem;
    color: #808080;
    background-color: rgba(255, 255, 255, 1);
    border-width: 0 0 1px 0;
    border-color: #045ba8;
    padding: .9rem;
    outline: none;
}

.contact-form button {
    background-color: #14caf4;
    color: white;
    padding: 0.75rem 1.3rem;
    border: 0;
    outline: 0;
}

.employee-sec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.employee-info {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.employee-info h5 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 300;
    letter-spacing: 0;
    text-align: right;
    margin-top: 0;
}

.employee-info p {
    margin: 0 0 15px;
    text-align: right;
    color: #ababab;
    font-weight: 600;
}

.employee-head-text {
    width: 38%;
    margin-top: 5rem;
}

.employee-head-text h2 {
    font-size: 3.1rem;
    line-height: 3.1rem;
    font-weight: 600;
    letter-spacing: 0;
    text-align: right;
    margin-bottom: .2rem;
}

.employee-info button {
    background-color: #14caf4;
    color: white;
    padding: 0.9rem 1.3rem;
    border: 0;
    outline: 0;
    float: right;
}

.employee-info i {
    margin-left: 6px;
}

.contact-form-head {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

@media screen and (max-width: 1300px) {
    .main-div{
        margin-top: -15%;
    }
    .contact-head {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    .contact-head-text h1{
        width: 100%;
    }

    .contact-head-info {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        justify-content: space-between;
    }

    .contact-head-img {
        background-size: cover;
        background-repeat: no-repeat;
        width: 80%;
        height: auto;
        margin-top: 5px;
    }

    .main-div {
        padding-top: 175px;
        /*padding-right: 5%;*/
        /*padding-left: 5%;*/
    }

    .contact-info-ways {
        display: flex;
        flex-direction: column;

    }

    .contact-info-head {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 99%;
        float: none;
    }

    .contact-info-ways {
        text-align: center;
    }

    .contact-form-head {
        width: 50%;
        margin-left: 0;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        /*align-items: center;*/
        /*justify-content: center;*/
        padding: 3rem;
        margin-top: 2rem;
    }

    .contact-info-head h2 {
        font-size: 2.3rem;
        line-height: 2.3rem;
        font-weight: 600;
        letter-spacing: 0;
        width: 27rem;
    }

    .contact-form-head h3 {

        font-size: 1.6rem;
        line-height: 2.2rem;
        letter-spacing: 0;
        width: 30rem;
    }
    .first-row-contact-form{
        display:flex;
        flex-direction: column;
        /*width: 100%;*/
    }
    .employee-sec {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .employee-head-text h2{
        text-align: left;
        width: 100%;
    }
    .employee-sec img{
        margin-left:-2rem ;
        width: 80%;
    }
    .contact-info-ways{
        margin-left: -6rem;
    }
    .contact-form{
        padding: 0;
    }
    .contact-form-head{
        margin-left: -19rem;

    }
    .contact-form-head h2{
        width: 25rem;
    }
    .employee-head-text{
        text-align: left;
        margin-left: 1rem;
        width:80%;
    }
}